/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/compile
/stamp-h1
/xmlstarlet.spec
/solaris/package/sol[89]-sparc/pkginfo
/src/.deps/
/src/.dirstamp
/src/*.o
/src/*usage.c
/xml
/version.h
/doc/xmlstarlet-ug.html
/doc/xmlstarlet-ug.pdf
/doc/xmlstarlet-ug.ps
/doc/xmlstarlet.1
/doc/xmlstarlet.txt
