Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
xmlstarlet.spec
doc/Makefile
doc/Makefile.in
solaris/package/sol[89]-sparc/pkginfo
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
src/xml
